.homepage-video iframe,.homepage-video img {
    box-sizing: border-box;
    height: 56.25vw;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    width: 177.77777778vh;
}
.homepage-video .homepage-video-bg-16x9 {
    width: 100%;
    left: 0;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: absolute;

}
.cursor-pinter{
    cursor: pointer;
}
@media (min-width: 1202px){
    .homepage-video .homepage-video-bg{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 240vh;
    left: calc(50vw - 50vh * 2.4);
    }
}
#map {
    height: 400px;
    width: 100%;
}


.form-control-search::-webkit-input-placeholder {
    color: white !important;
}
.form-control-search {
    background: none !important;
}
.form-control-search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white !important;
    //opacity: 1; /* Firefox */
}

.form-control-search:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white !important;
}

.form-control-search::-ms-input-placeholder { /* Microsoft Edge */
    color: white !important;
}
.btn-inquire{
    background: rgba(255,255,255,.4) !important;
}
//MENU
.menu-container {
    position: absolute;
    width: 100%;
    margin: 0 auto;
    background: hsla(0,0%,100%,.25);
    z-index: 3;
}

.menu-mobile {
    display: none;
    padding: 20px;
    &:after {
        content: "\f394";
        font-family: "Ionicons";
        font-size: 2.5rem;
        padding: 0;
        float: right;
        position: relative;
        top: 50%;
        transform: translateY(-25%);
    }
}

.menu-dropdown-icon {
    &:before {
        content: "\f489";
        font-family: "Ionicons";
        display: none;
        cursor: pointer;
        float: right;
        padding: 1.5em 2em;
        background: #fff;
        color: #333;
    }
}

.menu {
    > ul {
        margin: 0 auto;
        width: 100%;
        list-style: none;
        padding: 0;
        position: relative;
        background: rgba(0,0,0,.6);
        //position: relative;
        /* IF .menu position=relative -> ul = container width, ELSE ul = 100% width */
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        &:before,
        &:after {
            content: "";
            display: table;
        }
        &:after {
            clear: both;
        }
        > li {
            float: left;
            //background: #e9e9e9;
            padding: 0;
            margin: 0;
            border-bottom: 1px solid #cccccc;
            a {
                text-decoration: none;
                padding: 0.7em 3em;
                display: block;
                color: white;
                font-weight: 500;
                font-size: 14px;
                &:hover {
                    color: #0d0d0d !important;
                }
            }
            &:hover {
                background: #f0f0f0;
                a {
                    color: #0d0d0d !important;
                }
            }
            > ul {
                display: none;
                width: 100%;
                background: #f0f0f0;
                padding: 20px;
                position: absolute;
                z-index: 99;
                left: 0;
                margin: 0;
                list-style: none;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
                &:before,
                &:after {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                }
                > li {
                    margin: 0;
                    padding-bottom: 0;
                    list-style: none;
                    width: 50%;
                    background: none;
                    float: left;
                    a {
                        color: #777;
                        padding: .2em 0;
                        width: 95%;
                        display: block;
                        border-bottom: 1px solid #ccc;
                    }
                    > ul {
                        display: block;
                        padding: 0;
                        margin: 10px 0 0;
                        list-style: none;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        box-sizing: border-box;
                        &:before,
                        &:after {
                            content: "";
                            display: table;
                        }
                        &:after {
                            clear: both;
                        }
                        > li {
                            float: left;
                            width: 100%;
                            padding: 10px 0;
                            margin: 0;
                            font-size: .8em;
                            a {
                                border: 0;
                            }
                        }
                    }
                }
                &.normal-sub {
                    width: 300px;
                    left: auto;
                    padding: 10px 20px;
                    > li {
                        width: 100%;
                        a {
                            border: 0;
                            padding: 1em 0;
                        }
                    }
                }
            }
        }
    }
}

.list-group-item{
    //background: none !important;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––
Mobile style's
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media only screen and (max-width: 959px) {
    .menu-container {
        width: 100%;
    }
    .menu-mobile {
        display: block;
    }
    .menu-dropdown-icon {
        &:before {
            display: block;
        }
    }
    .menu {
        > ul {
            display: none;
            > li {
                width: 100%;
                float: none;
                display: block;
                a {
                    padding: 1.5em;
                    width: 100%;
                    display: block;
                }
                > ul {
                    position: relative;
                    &.normal-sub {
                        width: 100%;
                    }
                    > li {
                        float: none;
                        width: 100%;
                        margin-top: 20px;
                        &:first-child {
                            margin: 0;
                        }
                        > ul {
                            position: relative;
                            > li {
                                float: none;
                            }
                        }
                    }
                }
            }
        }
        .show-on-mobile {
            display: block;
        }
    }
}


header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}
.header-detail{
    //height: 60vh;
}
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.18;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
        display: none;
    }
}

.header-img-packages {
    position: relative;
    overflow: hidden;
}
.header-img-packages img{
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
}
.header-img-packages img:hover{
    -webkit-transform: scale(1.08);
    transform: scale(1.08);
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}
.arrow-left {
    position: absolute;
    right: -15px;
    width: 0;
    top: 45%;
    height: 0;
    border-top: 15px solid transparent;
    border-left: 15px solid #f9a825;
    border-bottom: 15px solid transparent;
}
//FORM CHECK

.form-search label {
    display: inline-block;
    cursor: pointer;
    color: $primary;
    position: relative;
    padding: 5px 10px 5px 40px;
    font-size: 1em;
    border-radius: 5px;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    &:hover {
        background: rgba($primary, .1);
    }
    &:before{
        content: "";
        display: inline-block;

        width: 17px;
        height: 17px;
        position: absolute;

        left: 15px;
        top: 7px;

        border-radius: 50%;
        background: none;
        border: 3px solid $primary;
    }
}

.checkbox label:before {
    border-radius: 3px;
}
.checkbox input[type="checkbox"] {
    display: none;
}
.checkbox input[type="checkbox"]:checked + label:before {
    display: none;
}
.checkbox input[type="checkbox"]:checked + label {
    background: $primary;
    color: #fff;
    padding: 5px 15px;
}

.checkbox input[type="checkbox"]:checked + label > small {
    color: #f9a825  !important;
}


.radio input[type="radio"] {
    display: none;
}
.radio input[type="radio"]:checked + label:before {
    display: none;
}
.radio input[type="radio"]:checked + label {
    padding: 5px 15px;
    background: $primary;
    border-radius: 2px;
    color: #fff;

}

.offer {
    background: url(/images/placebg.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.offer:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(41, 44, 52, 0.76) 46%, rgba(0, 0, 0, 0.41) 100%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.venobox:hover .icon-play i{
    opacity: .7;
    transition: opacity 1s;
}

.offer-banner:after {
    content: "";
    background: url(/images/about.jpg) no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: alpha(opacity=20);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
    -moz-opacity: 0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
    z-index: -1;
}
.offer-banner:before {
    content: "";
    position: absolute;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.76) 46%, rgba(218, 218, 218, 0.41) 100%);
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.offer-l {
    padding: 110px 0px 100px 0px;
    text-align: center;
}

.position-absolute-top{
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}
.position-absolute-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 2;
}
.bg-rgba-dark-3 {
    background: rgba(0, 0, 0, 0.3) !important;
}
/*********************** Demo - 16 *******************/
.box16{text-align:center;color:#fff;position:relative}
.box16 .box-content,.box16:after{width:100%;position:absolute;left:0}
.box16:after{content:"";height:100%;background:linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.08) 69%,rgba(0,0,0,.76) 100%);top:0;transition:all .5s ease 0s}
.box16 .post,.box16 .title{transform:translateY(145px);transition:all .4s cubic-bezier(.13,.62,.81,.91) 0s}
.box16:hover:after{background:linear-gradient(to bottom,rgba(0,0,0,.01) 0,rgba(0,0,0,.09) 11%,rgba(0,0,0,.12) 13%,rgba(0,0,0,.19) 20%,rgba(0,0,0,.29) 28%,rgba(0,0,0,.29) 29%,rgba(0,0,0,.42) 38%,rgba(0,0,0,.46) 43%,rgba(0,0,0,.53) 47%,rgba(0,0,0,.75) 69%,rgba(0,0,0,.87) 84%,rgba(0,0,0,.98) 99%,rgba(0,0,0,.94) 100%)}
.box16 img{width:100%;height:auto}
.box16 .box-content{padding:20px;margin-bottom:20px;bottom:0;z-index:1}
.box16 .title{font-size:22px;font-weight:700;text-transform:uppercase;margin:0 0 10px}
.box16 .post{display:block;padding:8px 0;font-size:15px}
.box16 .social li a,.box17 .icon li a{border-radius:50%;font-size:20px;color:#fff}
.box16:hover .post,.box16:hover .title{transform:translateY(0)}
.box16 .social{list-style:none;padding:0 0 5px;margin:40px 0 25px;opacity:0;position:relative;transform:perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);transition:all .6s cubic-bezier(0,0,.58,1) 0s}
.box16:hover .social{opacity:1;transform:perspective(500px) rotateX(0) rotateY(0) rotateZ(0)}
.box16 .social:before{content:"";width:50px;height:2px;background:#fff;margin:0 auto;position:absolute;top:-23px;left:0;right:0}
.box16 .social li{display:inline-block}
.box16 .social li a{display:block;width:40px;height:40px;line-height:40px;background:$orange;margin-right:10px;transition:all .3s ease 0s}
.box17 .icon li,.box17 .icon li a{display:inline-block}
.box16 .social li a:hover{background:red}
.box16 .social li:last-child a{margin-right:0}
@media only screen and (max-width:990px){
    .box16{margin-bottom:30px}
}




.block-blog {
    width: 100%;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(226, 223, 223, 0.61);
}
.transperent_block {
    padding: 0px;
    position: relative;
    overflow: hidden;
    height: 250px;
}
.transperent_block img {
    width:100%;
    //height: 100%;
}
.transperent_block:hover .black_hover_block {
    opacity: 1;
    transform: translateY(-150px);
    -webkit-transform: translateY(-150px);
    -moz-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    -o-transform: translateY(-150px);
}
.transperent_block:hover .black_hover_block .black_hover_block_text ul li {
    display: none !important;
}
.transperent_block img {
    z-index: 4;
}
.transperent_block .black_hover_block {
    position: absolute;
    bottom: 3%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 100%;
}
.transperent_block:hover .black_hover_block, .black_hover_block:hover {
    bottom: 30%;
    transition: all 0.3s ease-in-out;
}
.transperent_block .blur {
    background-color: rgba(0,0,0,0.7);
    height: 400px;
    z-index: 5;
    position: absolute;
    width: 100%;
    top: -20px;
}
.transperent_block .black_hover_block_text {
    z-index: 10;
    color: #fff;
    position: absolute;
    height: 400px;
    text-align: center;
    top: -20px;
    width: 100%;

}
.block_header{
    margin-top:5px;}
.black_hover_block_text i:hover {
    color: #77132f;
}
.black_hover_block_text i {
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
}
.black_hover_block_text i:hover {
    color:#ffffffa6}

.black_hover_block_text:hover .titl-h5 {
    background-color: rgba(249, 168, 37, 0.60);
}
.titl-h5 {
    border-top: 2px solid #f9a825;
    border-bottom: 2px solid #f9a825;
    padding: 10px;
    margin-top: 0px;
    line-height: 20px;
    text-transform:uppercase;
}



.home-banner-destinations .cc-imagewrapper {
    overflow: hidden;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
.home-banner-destinations .cc-imagewrapper figcaption  {
    text-transform: uppercase !important;
    text-align: center;
    font-size: 20px !important;
    font-weight: bold !important;
    position: absolute !important;
    top: 58% !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto;
    width: 100% !important;
    max-width: 80% !important;
    color: #fff !important;
    line-height: 1.5 !important;
    -webkit-transition: -webkit-transform 0.35s, color 0.35s;
    transition: transform 0.35s, color 0.35s;
    -webkit-transform: translate3d(0,-50%,0);
    transform: translate3d(0,-50%,0);
    z-index: 1;
}
.home-banner-destinations .cc-imagewrapper figcaption small{
    font-size: 12px;
}
.home-banner-destinations .cc-imagewrapper:hover figcaption {
    color: #fff !important;
    -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
}
.home-banner-destinations .cc-imagewrapper::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 75%);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(0,50%,0);
    transform: translate3d(0,50%,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
}
.home-banner-destinations .cc-imagewrapper:hover::before {
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.home-banner-destinations .cc-imagewrapper::after {
    content: '';
    background: rgba(0,0,0,.2);
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}
.home-banner-destinations .cc-imagewrapper a::after {
    content:'Ver más';
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 180px;
    opacity: 0;
    -webkit-transform: translate3d(0,100%,0);
    transform: translate3d(0,100%,0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    font-size: 14px;
    padding: .6em;
    color: #FFF;
    text-transform: uppercase;
    border: 1px solid #FFF;
    cursor: pointer;
    z-index: 1;
}
.home-banner-destinations .cc-imagewrapper:hover a::after {
    opacity: 1;
    -webkit-transform: translate3d(0,-250%,0);
    transform: translate3d(0,-250%,0);
}
.home-banner-destinations .cc-imagewrapper a:hover::after {
    background: #000;
    border-color:#000;
    color: #FFF !important;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.home-banner-destinations .cc-imagewrapper a {
    cursor: default !important;
}
@media only screen and (max-width:1024px) {

    .home-banner-destinations .cc-imagewrapper figcaption {
        color: #fff !important;
        -webkit-transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
        transform: translate3d(0,-50%,0) translate3d(0,-40px,0);
    }
    .home-banner-destinations .cc-imagewrapper::before {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    .home-banner-destinations .cc-imagewrapper a::after {
        opacity: 1;
        -webkit-transform: translate3d(0,-200%,0) !important;
        transform: translate3d(0,-200%,0) !important;
    }
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #fff;
}

.tl-1 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background: #eee;
}
.tl-2 {
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px;
    position: relative;
    top: 5px;
    //border: 1px solid #ba0027;
    //border-radius: 50px;
    //background: url("images/logo-andes-ave.png");
}
.tl-3 {
    width: 80px;
    height: 1px;
    display: inline-block;
    background: #eee;
}
.nav-fixed{
    position: fixed;
    top: 33%;
    right: 0;
    z-index: 2;
}
.list-group-detail{
    margin-right: -3px;
}
.list-group-item-detail {
    position: relative;
    display: block;
    padding: 8px !important;
    margin-bottom: 10px !important;
    //background-color: transparent !important;
    border: 1px solid rgb(88, 88, 88) !important;
}
.list-group-item-detail.active{
    background-color: #007bff !important;
}

.line-subtitle {
    width: 50px;
    height: 1px;
    background: #666;
    margin: 25px 0;
}
.swiper-slide {
    //text-align: center;
    //font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.swiper-pagination-bullet-active {
    background: #f9a825 !important;
}
.swiper-pagination-bullet {
    background: #fff;
    width: 12px;
    height: 12px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
}
.swiper-container.swiper-container-detail {
    width: 100%;
    height: 333px;
}
.swiper-container-detail .swiper-slide {
    display: block;
    height: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 3rem;
}
//.exp-unica {
//    width: 140px;
//    height: 45px;
//
//    -webkit-background-size: cover;
//    -moz-background-size: cover;
//    background-size: cover;
//    color: #e27113;
//    text-align: right;
//    position: absolute;
//    top: 46px;
//    right: 15px;
//}
//.buton {
//    position: relative;
//    background: transparent;
//    width: 140px;
//    height: 50px;
//    border-top: 1px solid #e27113;
//    border-bottom: 1px solid #e27113;
//    border-right: 1px solid #e27113;
//    text-align: left;
//}
//.arrow {
//    border-left: 15px solid #e27113;
//    border-top: 25px solid transparent;
//    border-bottom: 25px solid transparent;
//    width: 27px;
//    height: 0;
//    display: inline-block;
//}
//.arrow:after {
//    content: "";
//    border-left: 18px solid white;
//    border-top: 30px solid rgba(255, 255, 255, 0);
//    border-bottom: 30px solid rgba(255, 255, 255, 0);
//    display: block;
//    margin: -30px 0 0 -19px;
//}
//.exp-unica .icon-estrella {
//    margin-top: -16px;
//    padding-right: 5px!important;
//}
//
//.exp-unica span {
//    padding: 6px 10px 0 0!important;
//}
//
//.exp-unica span {
//    font-size: 16px;
//    line-height: 19px;
//    text-transform: uppercase;
//    padding: 4px 10px 0 0;
//}
//.exp-unica img, .exp-unica span {
//    display: block;
//    float: right;
//}
//.icon-estrella:before {
//    content: "\e912";
//}
