// Body
$body-bg: #f8fafc;

// Typography
//$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-sans-serif: "Quicksand", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$primary: #007bff;
$info: #00b4e9;

//font
$fa-font-path:        "../webfonts";

$red-primary:    #b71c1c !default;
$red-light:    #f05545 !default;
$red-dark:    #7f0000 !default;

$carousel-control-color: #333333;
$theme-colors: () !default;
$theme-colors: map-merge((
    "red-primary": $red-primary,
    "red-light": $red-light,
    "red-dark": $red-dark
), $theme-colors);

$headings-line-height:        1.2 !default;
$display5-size:               2.5rem !default;

$display5-weight:             300 !default;
$display-line-height:         $headings-line-height !default;

.display-5 {
    font-size: $display5-size;
    font-weight: $display5-weight;
    line-height: $display-line-height;
}
